@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    background: url('https://images.unsplash.com/photo-1464427219274-ab9450eba98b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1946&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
}
* {
    font-family: 'Work Sans', sans-serif;
}
::-webkit-scrollbar {
}
.formControl {
    outline: none !important;
    color: #0002 !important;
}
.searchContainer {
    position: relative;
    .inputSearch {
        width: calc(1000px - 2px);
        height: 40px;
        border: 1px solid lightgray;
        outline: none;
        margin-top: 20px;
    }
    .buttonSearch {
        position: absolute;
        right: -2px;
        top: 21px;
        background-color: white;
        border: none;
        height: 42px;
        cursor: pointer;
        border-left: 1px solid lightgray;
    }
}
.titlesContainer {
    text-align: left;
    margin: 10px 0;
    position: sticky;
    top: 0;
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    color: white;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    .foodTitle {
        width: 300px;
    }    
    .unitTitle {
        width: 100px;
    }    
    .nutrientsTitle {
        width: 200px;
    }    
    .quantityTitle {
        width: 100px;
    }    
}
.itemList {
    text-align: left;
    max-height: 80vh;
    overflow-y:scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .item {
        background-color: rgba(255, 255, 255, 0.8);
        cursor: pointer;
        padding: 10px 0px;
        border: 2px solid lightgray;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transition: .25s;
        .foodColumn {
            width: 300px;
        }
        .unitColumn {
            width: 100px;
        }
        .nutrientsColumn {
            width: 200px;
        }
        .quantityColumn {
            width: 100px;
        }
        .column {
            display: flex;
            flex-direction: column;
            gap: 20px;        
            div {
                display: flex;
                flex-direction: column;
            }
        }
        &:hover {
            border-color: red;
        }
    }
}
.seeMoreButton {
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    margin: 10px auto;
    padding: 10px;
    background-color: #bcf0d1;
    width: 200px;
}
.dietDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 400px;
    background-color: rgba(211, 211, 211, 0.713);
}
.mealTypeList {
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
    background-color: grey;
    display: flex;
    flex-direction: column;
    position: relative;
    transition:.5s;
    overflow: hidden;
    height: 65px;
}
#mealTypeListShort {
    height: 30px;
    justify-content: center;
}
.deleteIcon {
    cursor: pointer;
    width: 40px;
    height: 30px;
}
.nutrientsDietContainer {
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    gap: 20px;
}
.expandContainer {
    margin: 10px auto;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 320px;
    text-align: left;
}
.itemListContainer {
    margin: 0 auto;
    width: 1000px;
}
.nutrientsDiet {
    text-align: left;
    display: flex;
    flex-direction: column;
}
.mealTypeTitle {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 320px;
    align-items: center;
}
.arrowMealTypeExpand {
    height: 40px;
}
.itemDiet {
    padding-top: 10px;
    border-top: 1px solid white;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.titleContainerItemDiet {
    display: flex;
    justify-content: space-between;
}
.mealTypeExpandList {
    transition: .5s;
    height: auto;
}

//LOADER

.loaderContainer {
    display: flex;
    align-items: center;
    margin-top: 30px;
    height: 50vh;
    .loader {
        width: 100px;
        height: 100px;
        display: block;
        margin: auto;
        position: relative;
        background: #222;
        border-radius: 50%;
        box-sizing: border-box;
        transform-origin: 170px 50px;
        border: 4px solid #333;
        box-shadow: 3px 4px #0003 inset, 0 0 6px #0002 inset;
        animation: panmov 0.4s ease-in-out infinite alternate;
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) skew(-15deg, 15deg) rotate(-15deg);
            width: 55px;
            height: 53px;
            background: #fff;
            background-image: 
            radial-gradient(circle 3px , #fff6 90%, transparent 10%),
            radial-gradient(circle 12px , #ffc400 90%, transparent 10%),
            radial-gradient(circle 12px , #ffae00 100%, transparent 0);
            background-repeat: no-repeat;
            background-position: -4px -6px , -2px -2px , -1px -1px;
            box-shadow: -2px -3px #0002 inset, 0 0 4px #0003 inset;
            border-radius: 47% 36% 50% 50% / 49% 45% 42% 44%;
            animation: ylmov 0.6s ease-in-out infinite alternate;
        }
        &::after {
            content: '';
            position: absolute;
            left: 100%;
            top: 48px;
            height: 15px;
            width: 70px;
            background: #222222;
            border-radius: 0 8px 8px 0;
            box-shadow: 3px 0 3px #eee2 inset;
            transform: rotate(5deg) translateX(3px);
        }
    }
}

@keyframes panmov {
    0% , 10% { transform: rotate(5deg) }
    90% , 100% { transform: rotate(-5deg) }
}
@keyframes ylmov {
    to { 
        border-radius: 50% 36% 50% 50% / 49% 50% 45% 45%;
        background-position: -2px -4px , 2px 2px , 1px 1px;
    }
}  

//MODAL 