@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap');
body {
    margin: 0 auto;
    min-height: 100vh;
    text-align: center;
}
html {
    background-color: #f8f9fa;
    overflow-y: scroll;
}
* {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #f8f9fa;
}
.MuiBackdrop-root {
    scrollbar-gutter: auto !important;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background:rgb(176, 176, 176); 
    &:hover {
        background:rgb(154, 154, 154); 
    }
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}
.header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    h1 {
        .nutri {
            margin-right: 10px;
            color: green;
        }
    }
}
.formControl {
    outline: none !important;
    color: #0002 !important;
}
.home {
    .resetSearchButtonContainer {
        margin: 5px;
        display: flex;
        a, .reset{
            text-decoration: none;
            color: #000;
            display: flex;
            align-items: center;
            border: 1px solid black;
            padding: 2.5px 10px;
            cursor: pointer;
            svg {
                margin-left: 5px;
                width: 30px;
            }
        }
        .reset {
            margin-left: 10px;
        }
    }
    .dietDetailsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 10px;
        width: 400px;
        background-color: rgba(211, 211, 211, 0.713);
        .nutrientsDietContainer {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 320px;
            gap: 20px;
        }
    }
}
.mealTypeList {
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    border: 1px solid white;
    background-color: rgb(176, 176, 176);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
}
    
.deleteIcon {
    cursor: pointer;
    width: 40px;
    height: 30px;
}
#mealTypeListShort {
    height: 30px;
    justify-content: center;
}
.expandContainer {
    margin: 10px auto;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 320px;
    text-align: center;
}
.number {
    font-size: 16px;
}
.itemListContainer {
    margin: 0 auto;
    width: 1000px;
    .noResults {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 50vh;
    }
    .titlesContainer {
        text-align: left;
        margin: 10px 0;
        position: sticky;
        top: 0;
        background-color: rgb(176, 176, 176);
        color: black;
        padding: 15px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .foodTitle {
            width: 300px;
            font-weight: 800;
        }    
        .unitTitle {
            width: 100px;
            font-weight: 800;
        }    
        .nutrientsTitle {
            width: 200px;
            font-weight: 800;
        }    
        .quantityTitle {
            width: 100px;
            font-weight: 800;
        }    
    }
    .itemList {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
        .item {
            background-color: rgba(211, 211, 211, 0.713);
            cursor: pointer;
            padding: 10px 0px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .foodColumn {
                width: 300px;
            }
            .unitColumn {
                width: 100px;
            }
            .nutrientsColumn {
                width: 200px;
            }
            .quantityColumn {
                width: 100px;
            }
            .column {
                display: flex;
                flex-direction: column;
                gap: 20px;        
                div {
                    display: flex;
                    flex-direction: column;
                }
            }
            &:hover {
                border-color: red;
            }
        }
    }
    .goBackSearchContainer {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .searchContainer {
            position: relative;
            .inputSearch {
                width: 850px;
                height: 40px;
                border: 1px solid black;
                outline: none;
                padding: 0px 5px;
            }
            .buttonSearch {
                display: flex;
                align-items: center;
                position: absolute;
                right: 1px;
                top: 1px;
                background-color: white;
                border: none;
                height: 40px;
                cursor: pointer;
                border-left: 1px solid black;
                svg {
                    width: 30px;
                }
            }
        }
    }
    .goBackContainer {
        display: flex;
        .goBackLink {
            width: 110px;
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            color: black;
            font-size: 20px;
            font-weight: 800;
            border: 1px black solid;
            height: 40px;
            padding: 0px 10px;
            svg {
                width: 18px;
            }
        }
    }
    .seeMoreButton {
        font-weight: bold;
        cursor: pointer;
        border: none;
        border-radius: 15px;
        margin: 20px auto 10px auto;
        padding: 10px;
        background-color: rgb(176, 176, 176);
        width: 200px;
    }
    .seeMoreButtonLoading {
        opacity: .75;
    }
}
.nutrientsDiet {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80px;    
}
.mealTypeTitle {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 320px;
    align-items: center;
    .nutrientsDiet {
        width: 65px;
    }
}
.itemName {
    text-align: left;
}
.arrowMealTypeExpand {
    height: 40px;
    width: 80px;
}
.itemDiet {
    padding-top: 10px;
    border-top: 1px solid white;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.imgTitleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}
.titleContainerItemDiet {
    display: flex;
    justify-content: space-between;
    .nutrientsDiet {
        width: 65px;
    }
    .itemName {
        width: 240px;
        .grams {
            font-size: 14px;
        }
    }
}
.mealTypeExpandList {
    height: auto;
}

.footer {
    font-size: 14px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}
//LOADER

.loaderContainer {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .loader {
        width: 48px;
        height: 48px;
        margin-left: 17.5px;
        margin-right: 17.5px;
        border-radius: 50%;
        display: inline-block;
        border-top: 3px solid #000000;
        border-right: 3px solid transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }
}

@keyframes rotation {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
} 

//MODAL 
.modal {
    display: flex;
    .horizontalContainer {
        margin: 5px 0;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        select, input {
            margin-top: 5px;
            outline: 1px solid black;
            border: none;
            width: 200px;
            height: 30px;
            font-size: 16px;
            padding: 0 5px 0 5px;
        }
        select {
            cursor: pointer;
        }
        input {
            width: 60px;
        }
    }
    .smallModalContainer {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .excessSpan {
        margin-top: 5px;
        color:red;
        font-size: 12px;
    }
    .buttonContainer {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        gap: 10px;
        button {
            background-color: rgb(101, 154, 101);
            font-weight: bold;
            cursor: pointer;
            border: none;
            width: 135px;
            height: 30px;
        }
        .cancelButton {
            background-color: rgb(216, 102, 102);
        }
    }
}

//RESPONSIVE WEB DESIGN

@media screen and (max-width: 1200px) {
    .itemListContainer {
        width: 95vw;
        .titlesContainer {
            .foodTitle {
                width: 30%;
                text-overflow: ellipsis;
            }    
            .unitTitle {
                width: 15%;
                text-overflow: ellipsis;
            }    
            .nutrientsTitle {
                width: 25%;
                text-overflow: ellipsis;
            }    
            .quantityTitle {
                width: 15%;
                text-overflow: ellipsis;
            }    
        }
        .itemList {
            .item {
                .foodColumn {
                    width: 30%;
                }
                .unitColumn {
                    width: 15%;
                }
                .nutrientsColumn {
                    width: 25%;
                }
                .quantityColumn {
                    width: 15%;
                }
            }
        }
        .goBackSearchContainer {
            border-right:1px solid black;
            width: auto !important;
            overflow: hidden;
            .searchContainer {
                width: 100%;
                margin-left: 10px;
                .inputSearch {
                    width: 100%;
                }
            }
            .goBackContainer {
                .goBackLink {
                    justify-content: center;
                    padding: 0 5px;
                    font-size: 18px;
                    svg {
                        width: 16px;
                    }    
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .itemListContainer {
        font-size: 15px;
        .titlesContainer {
            .foodTitle {
                text-overflow: ellipsis;
                width: 110px;
            }    
            .unitTitle {
                width: 35px;
                text-overflow: ellipsis;
            }    
            .nutrientsTitle {
                width: 100px;
                text-overflow: ellipsis;
            }    
            .quantityTitle {
                width: 35px;
                text-overflow: ellipsis;
            }    
        }
        .itemList {
            .item {
                .foodColumn {
                    width: 110px;
                }
                .unitColumn {
                    width: 35px;
                }
                .nutrientsColumn {
                    width: 100px;
                }
                .quantityColumn {
                    width: 35px;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .home {
        .dietDetailsContainer {
            width: 300px;
            .mealTypeList {
                width: 260px;
                .mealTypeTitle {
                    width: 260px;
                }
                .nutrientsDiet {
                    width: 50px;
                }
            }
            .nutrientsDietContainer {
                display: flex;
                align-items: flex-start;
                width: 260px;
                div {
                    span {
                        width: 50px;
                    }
                }
            }
            .mealTypeExpandList {
                width: 260px;
                .nutrientsDiet {
                    width: auto;
                }
            }
            .titleContainerItemDiet {
                width: 260px;
            }
            .reset, a {
                svg {
                    width: 23px;
                }
            }
        }
    }
    .itemDiet {
        width: 260px;
    }
    .number {
        width: 50px;
    }
}